* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

main {
    height: 100%;
    width: 100%;
    gap: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns:24fr 2fr 26fr 22fr 26fr ;
    grid-template-rows:14fr 18fr 28fr 16fr 24fr ;
    grid-template-areas: 
    "top-left top-center1 top-center1 top-center2 top-right "
    "top-left top-center1 top-center1 top-center2 center-right "
    "bottom-left bottom-left center-1 top-center2  center-right"
    "bottom-left bottom-left center-2 bottom-right bottom-right"
    "bottom-left bottom-left bottom-center bottom-right bottom-right"
    ;
}

.top-left {
    background:linear-gradient(to right, #AF5CFA, #9B51F2);
    grid-area: top-left;
    border-radius: 15px;
}

.top-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom-left {
    background-color: aqua;
    grid-area: bottom-left;
    border-radius: 15px;
}

.top-center1 {
    background-color:#161618;
    grid-area:top-center1 ;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-center1 img {
    height: 100%;
    width: calc(100% - 200px);
    object-fit:cover ;
}

.top-center2 {
    background-color: blue;
    grid-area:top-center2 ;
    border-radius: 15px;
}

.center-1 {
    background-color: rgb(66, 48, 82);
    grid-area: center-1;
    border-radius: 15px;
}

.center-2 {
    background-color: #161618;
    grid-area:center-2 ;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-2 img {
    width: 20%;
    object-fit: cover;
}

.bottom-center {
    background-color: cadetblue;
    grid-area:bottom-center;
    border-radius: 15px;
}

.top-right {
    background: linear-gradient(to right, #A85AF9,#773BCC);
    grid-area: top-right;
    border-radius: 15px;
     display: flex;
     align-items: center;
    justify-content: center; 
    padding: 20px;
}

.top-right img{
    height: 35px;
    width: 35px;
    object-fit: cover;

}

#box {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.top-right i {
    font-size: 35px;
    color: white;
}

#smile {
    justify-content: space-around;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.center-right {
    background-color:#D6F156;
    grid-area:center-right;
    border-radius: 15px;
}

.center-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom-right {
    background-color: #8bb00f;
    grid-area: bottom-right;
    border-radius: 15px;
}